/* OPEN HTML FILE IN BROWSER FOR EXPLINATION */

#content1 {
  background-color: red;
  padding: 10px;
  box-shadow: inset 0 0 0 10px yellow;
  border: 10px solid black;
  margin: 5px
}

#contentWrapper {
  background-color: green;
  padding: 5px 5px;
}